<html>
  <head>
    <title>Test Loop</title>
  </head>

  <body>
    <% a = ["Peter", "Paul", "Mary"] %>

    <ul>

      <% a.each do |n| %>
        <li><%= n %></li>
      <% end %>

    </ul>
  </body>
</html>
